<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Smoke tests</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="f0a165">  <td>16/10/22 23:28:04</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AbstractTest.beforeClass(java.lang.String)[pri:0, instance:com.webTests.MailinatorLoginTest@625d9132]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1134976216</td>   <td></td> </tr>
<tr bgcolor="6e7591">  <td>16/10/22 23:28:10</td>   <td>6129</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MailinatorLoginTest.vetifyIfUserCanLoginWithValideCredentials()[pri:1, instance:com.webTests.MailinatorLoginTest@625d9132]">vetifyIfUserCanLoginWithValideCredentials</td> 
  <td>main@1134976216</td>   <td></td> </tr>
<tr bgcolor="f0a165">  <td>16/10/22 23:28:15</td>   <td>10797</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTest.afterClass()[pri:0, instance:com.webTests.MailinatorLoginTest@625d9132]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1134976216</td>   <td></td> </tr>
</table>
